<div class="card">
   <div class="card-body">
      <h6 class="card-title"> {{ event.titleEvent }}
   </div> 
   <p> {{ event.level.titleLevel }} {{ event.sport.titleSport }} {{ event.ville }} </p>
</div>