{% extends 'base.html.twig' %}

{% block title %}Tous les evenement{% endblock %}

{% block body %}

    {% include 'event/_filter.html.twig' with {form: form} only %}

    <div class="container">
        <div class="grid">
            {% for event in events %}
                {% include 'event/_card.html.twig' with {event: event} only %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

