body{
    font-family:'Barlow', 'Segoe UI', sans-serif;
    background-color: rgb(247, 247, 247);
}

body .wrapper{
    margin-left : 150px;
    margin-right: 150px;
}

@media screen and (max-width: 768px){

  .wrapper{
    margin-left: 40px;
    margin-right: 40px;
  }

}

.btnHigh {
  height: 80px;
  width: 80px;
  color: rgb(40, 40, 40);
  font-size: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: -20px;
  bottom: 20px;
  cursor: pointer;
}

/* --- FULL --- */

a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

a:active {
  color: rgb(255, 255, 255);
}

/* --- FIN FULL -- */


    
/* --- NAVBAR --- */

@media screen and (min-width: 768px){
  nav #mySidenav{
    display: none;
  }
}

@media screen and (max-width: 768px){


  .registerHover{
    padding: 3px;
    font-size: 12px;
  }

  .loginHover{
    padding: 8px;
    font-size: 12px;
  }

  /* Sidenav menu */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -250px;
  background-color: #110c00;
  padding-top: 60px;
  transition: right 0.5s ease;
}

/* Sidenav menu lien */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: orange;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  right: 0;
}

/* Fermer le btn */
.sidenav .close {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: orange;
  margin: 6px 0;
}

}

nav {
  background-color: #000000d6;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav h1 {
  font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.violet{
  color: #c330f0;
}

nav .mynav ul {
  display: flex;
  position: absolute;
  right: 30px;
  list-style: none;
  gap: 1rem;
  text-decoration: none;
}

@media screen and (max-width: 768px){
  
  nav .mynav ul .user{
    display: none;
  }
}

.registerHover{
  background-color: rgba(255, 166, 0, 0.811);
  padding: 10px;
  border-radius: 2px;
}

.registerHover:hover{
  background-color: rgba(255, 183, 50, 0.913);
  padding: 10px;
  border-radius: 2px;
}

.loginHover{
  padding: 8px;
  border: orange 2px solid;
  border-radius: 2px;
}

.loginHover:hover{
  background-color: rgba(255, 183, 50, 0.913);
}

.red{
  /* j'utilise "!important" car la couleur de mes liens prend le dessus */
  color: red!important;
  font-size: 20px!important;
}

.white{
  /* j'utilise "!important" car la couleur de mes liens prend le dessus */
  color: white;
  font-size: 20px!important;
}

.orange{
  /* j'utilise "!important" car la couleur de mes liens prend le dessus */
  color: #f0a730!important;
  font-size: 20px!important;
}

nav a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav a:visited {
  color: #ffffff;
}

nav a:hover {
  color: #ffffff;
  text-decoration: none;
}

nav a:active {
  color: orange;
}

/* --- FIN NAVBAR --- */

/* --- SECTION HOME 1 --- */

@media screen and (max-width: 930px){

  #videoHome{
    display: none;
  }

  .cover{
    background: radial-gradient(circle, rgb(255, 224, 170) 0%, 
    rgb(252, 185, 70) 100%);
  }

  .cover h5{
    display: none;
  }
}

@media screen and (min-width: 930px){

  .cover  {
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    padding: 20px 50px;
    width: 800px;
  }

  .cover h2{
    color: white;
  }

  .cover h5{
    color: white;
    text-align: center;
  }

  .registergreen{
    background-color: #c330f0;
    padding : 10px;
    text-align: center;
    border-radius: 3px;
    margin-top: 10px;
    margin-left : 200px;
    margin-right: 200px;
}

.registergreen:hover{
    background-color: #db63ff;
}

}

#videoHome{
    position: relative;
    height: 650px;
    max-width: 100%;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;

}

.playandstop{
  position: absolute;
  bottom: 0;
  right: 0;
}

#lecteur{
    background: #37373700;
    color: white;
    font-size: 100px;
    font-style: bold;
    border : none;
    border-radius: 2px;
    font-size: 13px;
    font-size: 30px;

}

.customSearch{
  display: flex;
  background-color: rgba(255, 255, 255, 0.24);
  border: white 1px solid;
  padding: 7px;
  height: 55px;
  border-radius: 3px;
  gap: 2px;
  margin-top: -30px;
}

.btnSearch{
  color: white;
  background-color: #f0a630;
  border: none;
  height: 38px;
}

.btnSearch:hover{
  background-color: #fdb541;
}

.hello{
  color:white;
  display: flex;
}

.pseudo{
  font-style: italic;
  text-transform: uppercase;
  color: white;
}

@media screen and (max-width: 930px){

    .cover  {
      padding: 10px 30px;
      height: 130px;
      max-width: 100%;
    }

    .customSearch{
      max-width: 100%;
    }

    .btnSearch{
      color: white;
      background-color: #fdb541;
      border: none;
      height: 38px;
    }

    .registergreen{
      border: white 1px solid;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 10px;
    
    }

  .hello{
      display: none;
  }

  .cover h2{
    color: white;
    font-size: 15px;
  }
}

/* --- FIN SECTION HOME 1 --- */
  
#formEvent { 
  display: none;
} 

#bouton {
  display: block;
  flex-direction: left;
  background-color: orange;
  width: 150px;
  padding: 5px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

#bouton:hover{
  background-color: violet;
}

@media screen and (max-width: 930px){

  #bouton  {
    font-size: 15px;
    margin-top : 10px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 470px){

  #bouton  {
    margin-left: 50px;
    margin-right: 50px;
  }
}

/* --------- CARD EVENT ---------- */

.cardEvent{
  background-color: rgb(252, 252, 252);
  display : block;
  width: auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 13px 24px -5px rgba (0,0,0,0.81);
  -webkit-box-shadow: 10px 13px 24px -5px rgba(0, 0, 0, 0.301);
  -moz-box-shadow: 10px 13px 24px -5px rgba(0, 0, 0, 0.372);
}

.cardDelete{
  color: red;
  font-style: italic;
  font-size: 15px;
}

.cardTitle{
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.cardPseudo{
  background-color: #c330f0;
  text-transform:capitalize;
  padding: 5px;
  border-radius: 3px;

}

.cardPseudo:hover{
  background-color: #cc57f0;
}

.cardSport{
  background-color: orange;
  color: white;
  text-transform:capitalize;
  padding: 5px;
  border-radius: 3px;
}

.cardPlaces{
  background-color: rgb(0, 184, 0);
  padding: 5px;
  border-radius: 3px;
  color: white;
}

.cardFooter{
  text-align: right;
}

.cardComplete{
  color: red;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 5px;
}
  

.cardParticipate{
  background-color: orange;
  padding: 5px;
  border-radius: 3px;
  color: white;
}

.cardParticipate:hover{
  background-color: rgb(255, 182, 46);
}

.cardDetail{
  background-color: rgb(185, 185, 185);
  padding: 5px;
  border-radius: 3px;
  color: white;
}

.cardDetail:hover{
  background-color: rgb(223, 223, 223);
}

.cardParticipateOk{
  color: rgb(0, 206, 0);
  font-style: italic;
  font-size: 15px;
  margin-bottom: 5px;
}

.cardVille{
  display: flex;
  margin-top: 5px;
  text-transform:capitalize;
}

.cardDateEvent{
  padding: 5px;
  text-align: right;
  color: black;
  font-size: large;
}

.cardTitleBody{
  border: 1px solid black;
  padding: 5px;
  text-transform: capitalize;
}

.cardContent{
  text-align: justify;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 930px){

  .cardEvent{
    width:80vw;
  }

  .cardTitleBody{
    margin-left: 10px;
    font-style: italic;
    font-size: 20px;
    text-transform: capitalize;
  }
  
  .cardContent{
    text-align: justify;
    font-size: 15px;
    margin: 10px;
  }



  .cardBody{
    border: 1px solid rgb(154, 154, 154);
    margin-bottom: 10px;
    display: table;
    width:70vw;
    margin: 0 auto;
  }
}

/* --------- FIN CARD EVENT ---------- */

/* --------- PROFIL SHOW --------- */

/* FIN PROFIL*/

/* EVENEMENT PROFIL */

.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: center;
  gap: 6px;
}

.profile-body{
    margin-top: 80px;
}

.editHover{
    background-color: rgba(255, 166, 0, 0.811);
    width: 150px;
    padding: 10px;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 10px;
}

.editHover:hover{
    background-color: rgba(255, 183, 50, 0.913);
    padding: 10px;
    border-radius: 2px;
}

.profile {
margin-top: -45px;
margin-left: auto;
margin-right: auto;
border-radius: 15px;
background-color: rgba(221, 221, 221, 0.29);
padding: 20px;
z-index: 0;
box-shadow: 10px 13px 24px -5px rgba (0,0,0,0.81);
-webkit-box-shadow: 10px 13px 24px -5px rgba(0, 0, 0, 0.301);
-moz-box-shadow: 10px 13px 24px -5px rgba(0, 0, 0, 0.372);
}

.info{
    text-align: center;
}

.content{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border: 1px rgb(151, 151, 151) solid;
    padding: 20px;
}

h6 {
    text-transform: uppercase;
    text-align: right;
    margin-right: 100px;
    margin-top: 20px;
    font-size: 20px;
}

.photo {
    margin: 25px;

}

.image--cover {
    width: 170px;
    height: 170px;
    border: #fff 3px solid;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: -40px;    
}

#rating-stars {
    margin: 4px;
}

#rating-stars .stars {
    display: inline-flex;
  }
  #rarate-input {
    pointer-events: none;
  }
  #rating-stars .rate-input {
    position: absolute;
    left: -9999px;
  }
  #rating-stars label {
    cursor: pointer;
    padding: 1px;
    font-size: 20pt;
  }
  #rating-stars .star-icon {
    color: orange;
  }

  #rating-stars .rate-input:checked ~ .star-label .star-icon {
    color: #999;
  }
  #rating-stars .stars:hover .star-label .star-icon {
    color: orange;
  }
  #rating-stars .rate-input:hover ~ .star-label .star-icon {
    color: #999;
  }

/* FIN EVENEMENT PROFIL */

/* --------- FIN PROFIL SHOW --------- */

/* --- CSS POUR L'INSCRIPTION --- */

.inscription{
  display: block;
  margin: 200px;
  background-color: rgba(255, 255, 255, 0.637);
  padding: 50px;
  border-radius: 20px;
}

.btnRegister{
  background-color: orange;
  border: none;
  padding: 5px;
  border-radius: 3px;
  color: white;
}

.btnRegister:hover{
  background-color: rgb(255, 190, 68);
}

a .cguRegister{
  color: black!important;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

h5{
  
}

/* --- FIN CSS POUR L'INSCRIPTION --- */


/* --- FOOTER --- */

.footerContainer{
  background-color: rgba(0, 0, 0, 0.749);
  text-align: center;
  color: white;
  height: 205px;
  position:absolute;
  width: 100%;
}

footer .logo{
  font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.543);
  margin-bottom: 10px;
}


#listFooter ul li{
  list-style-type: none;
  text-decoration: none;

}
#listFooter ul li a{
  text-decoration: none;
  font-weight: bold;
}

.reseau{
  margin-bottom: 10px;
}
.reseau a{
  text-decoration: none;
  font-weight: bold;
}

@media screen and (min-width: 950px){
  .footerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding: 10px;
  }

  footer .logo{
    background-color: rgba(0, 0, 0, 0);
  }
}

/*  CGU  */

.cgu{
  text-align:justify;
  margin-left: 50px;
  margin-right: 50px;
}

.cgu a{
  color: rgb(0, 115, 255);
}

/*  FIN CGU  */

/* --- FIN FOOTER --- */


