body{
    background: rgb(255, 244, 224);
    font-family:'Barlow', 'Segoe UI', sans-serif;
}

.wrapper{
    margin-top: 30px;
    margin-left : 150px;
    margin-right: 150px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px){

  .wrapper{
    margin-left: 30px;
    margin-right: 30px;
  }

}

/* --- FULL --- */

a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

a:active {
  color: rgb(255, 255, 255);
}

/* --- FIN FULL -- */


    
/* --- NAVBAR --- */

@media screen and (min-width: 768px){
  nav #mySidenav{
    display: none;
  }
}

@media screen and (max-width: 768px){

  /* Sidenav menu */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -250px;
  background-color: #110c00;
  padding-top: 60px;
  transition: right 0.5s ease;
}

/* Sidenav menu lien */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: orange;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  right: 0;
}

/* Fermer le btn */
.sidenav .close {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: orange;
  margin: 6px 0;
}

}

@media screen and (max-width: 768px){

  .mynav{
    display: none;
  }

  .mynav li .user{
    display: none;
  }

  .registerHover{
    padding: 3px;
    font-size: 12px;
  }

  .loginHover{
    padding: 8px;
    font-size: 12px;
  }
}

nav {
  background-color: #000000d6;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav h1{
  font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav .mynav ul {
  display: flex;
  position: absolute;
  right: 30px;
  list-style: none;
  gap: 1rem;
  text-decoration: none;
}

.registerHover{
  background-color: rgba(255, 166, 0, 0.811);
  padding: 10px;
  border-radius: 2px;
}

.registerHover:hover{
  background-color: rgba(255, 183, 50, 0.913);
  padding: 10px;
  border-radius: 2px;
}

.loginHover{
  padding: 8px;
  border: orange 2px solid;
  border-radius: 2px;
}

.loginHover:hover{
  background-color: rgba(255, 183, 50, 0.913);
}

.red{
  /* j'utilise "!important" car la couleur de mes liens prend le dessus */
  color: red!important;
  font-size: 20px!important;
}

.white{
  /* j'utilise "!important" car la couleur de mes liens prend le dessus */
  color: white;
  font-size: 20px!important;
}

.orange{
  /* j'utilise "!important" car la couleur de mes liens prend le dessus */
  color: #f0a730!important;
  font-size: 20px!important;
}

nav a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav a:visited {
  color: #ffffff;
}

nav a:hover {
  color: #ffffff;
  text-decoration: none;
}

nav a:active {
  color: orange;
}

/* --- FIN NAVBAR --- */

#formEvent { 
  display: none;
} 

#bouton {
  position: absolute;
  right: 150px;
  background-color: rgba(0, 164, 0, 0.671);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  cursor:pointer;
  color:white;
  font-size: 20px;
} 

/* --- VIDEO PAGE D'ACCUEIL --- */

#videoHome{
    position: relative;
    height: 700px;
    max-width: 100%;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;

}

h1{
    color: white;
}

#lecteur{
    background: #37373700;
    color: white;
    font-style: bold;
    border : none;
    border-radius: 2px;
    font-size: 13px;
    font-size: 30px;

}

.registergreen{
    background-color: rgba(0, 203, 0, 0.582);
    padding : 10px;
    text-align: center;
    border-radius: 3px;
}

.registergreen:hover{
    background-color: rgba(0, 203, 0, 0.884);
}

.playandstop{
    position: absolute;
    bottom: 50px;
    right: 5px;
}

.hello{
    padding-top: 50px;
    color: white;
    font-size: 20px;
    display: flex;
    gap : 5px;
}

.pseudo{
    font-style: italic;
    text-transform: uppercase;
}

/* --- FIN VIDEO PAGE D'ACCUEIL --- */

.cover  {
    position: absolute;
    top: 250px;
    left: 300px;
    padding: 20px 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .flex-form input[type="submit"] {
    background: #f0a730;
    border: 1px solid #f0a730;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .flex-form input[type="submit"]:hover {
    background: #f0a63095;
    border: 1px solid #f0a730;
  }
  
  .flex-form {
    display: -webkit-box;
    display: flex;
    z-index: 10;
    position: relative;
    width: 500px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .flex-form > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
  }
  
  input[type="search"] {
    flex-basis: 500px;
  }
  


/* --------- PROFIL SHOW --------- */

/*PROFIL*/



/* FIN PROFIL*/

/* EVENEMENT PROFIL */

.profile-body{
    margin-top: 80px;
}

.editHover{
    background-color: rgba(255, 166, 0, 0.811);
    width: 150px;
    padding: 10px;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 10px;
}

.editHover:hover{
    background-color: rgba(255, 183, 50, 0.913);
    padding: 10px;
    border-radius: 2px;
}

.profile {
margin-top: -45px;
margin-left: auto;
margin-right: auto;
border-radius: 15px;
background-color: rgba(221, 221, 221, 0.29);
padding: 20px;
z-index: 0;
box-shadow: 10px 13px 24px -5px rgba (0,0,0,0.81);
-webkit-box-shadow: 10px 13px 24px -5px rgba(0, 0, 0, 0.301);
-moz-box-shadow: 10px 13px 24px -5px rgba(0, 0, 0, 0.372);
}

.info{
    text-align: center;
}

.content{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border: 1px rgb(151, 151, 151) solid;
    padding: 20px;
}

h6 {
    text-transform: uppercase;
    text-align: right;
    margin-right: 100px;
    margin-top: 20px;
    font-size: 20px;
}

.photo {
    margin: 25px;

}

.image--cover {
    width: 170px;
    height: 170px;
    border: #fff 3px solid;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: -40px;    
}

#rating-stars {
    margin: 4px;
}

#rating-stars .stars {
    display: inline-flex;
  }
  #rarate-input {
    pointer-events: none;
  }
  #rating-stars .rate-input {
    position: absolute;
    left: -9999px;
  }
  #rating-stars label {
    cursor: pointer;
    padding: 1px;
    font-size: 20pt;
  }
  #rating-stars .star-icon {
    color: orange;
  }

  #rating-stars .rate-input:checked ~ .star-label .star-icon {
    color: #999;
  }
  #rating-stars .stars:hover .star-label .star-icon {
    color: orange;
  }
  #rating-stars .rate-input:hover ~ .star-label .star-icon {
    color: #999;
  }

/* FIN EVENEMENT PROFIL */

/* --------- FIN PROFIL SHOW --------- */

/* --- CSS POUR L'INSCRIPTION --- */

.inscription{
  display: block;
  margin: 200px;
  background-color: rgba(255, 255, 255, 0.637);
  padding: 50px;
  border-radius: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

h5{
  
}

/* --- FIN CSS POUR L'INSCRIPTION --- */


