{% extends 'base.html.twig' %}

{% block title %} Mes abonnements {% endblock %}

{% block body %}

    {% for f in follow %}
        {{ f.pseudo }}
        <a href="{{ path('unfollow', {'idSource' : app.user.id , 'idTarget' : f.id}) }}" class="card-link">Se désabonner</a>
    {% endfor %}


{% endblock %}