{% extends 'base.html.twig' %}

{% block title %} Mes abonnements {% endblock %}

{% block body %}

    <h3>Mes abonnements</h3>

    <section class="followUser">
        {% for f in follow %}
        <a class="cardPseudo" href="{{ path('show_profil', {'pseudo' : f.pseudo })}}">{{ f.pseudo }}</a>
        <a style="color:black" href="{{ path('delete_follow', {'id' : f.id })}}">Se désabonner</a>
            
        {% endfor %}
    </section>


{% endblock %}