{% extends 'base.html.twig' %}

{% block title %} Mes abonnements {% endblock %}

{% block body %}

    <h3>Mes abonnements</h3>

    <section class="followUser">
        {% for f in follow %}
        {{ f.pseudo }}
            <button type="button" class="btn btn-danger">Se désabonner</button>
        {% endfor %}
    </section>


{% endblock %}